Repository boromir674/cookiecutter-python-package, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, template, test, test_code, test_data

release(semantic_version): bump version to 0.10.1
  README.rst
  setup.cfg
  src/cookiecutter_python/__init__.py
Labels: template, test_data

docs: update changelog with the release's changes
  CHANGELOG.rst
Labels: test_data

add dummy python test code
  tests/delme.py
Labels: test, test_code

this commit should 'add' the 'test_data' label
  tests/data/del-data.txt
Labels: test, test_data

this commit should 'add' the 'ci' label
  .github/del.yml
Labels: ci, test_data

this commit should 'add' the 'template' label
  src/cookiecutter_python/{{ cookiecutter.project_slug }}/delme.txt
Labels: template, test_data

.github/labeler.yml:

# Add 'ci' label to any change within the '.github' dir
ci:
- any: ['.github/*', '.github/**/*']


# Add 'template' label to any change within the 'src/cookiecutter_python' dir
# Currently, this is where the cookiecutter template (cookiecutter.json, hooks, etc) is
template:
- src/cookiecutter_python/*
- src/cookiecutter_python/**/*


# Add 'test_suite' label to any change within the 'tests' dir
test:
- tests/*
- tests/**/*

# Add 'test_code' label to any change to python files within the tests dir
test_code:
- any: ['tests/**/*.py']

# Add 'test_data' label to any non python file within the tests dir
test_data:
- any: ['!tests/**/*.py']
